/*importante prueba*/
/*compilacion de prueba correcta*/
/*variables*/
div {
  width: 100%;
  height: 400px;
  background-color: red;
  padding: 15px; }
  div p {
    font-size: 20px;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
    div p a {
      color: #1d091d;
      font-weight: bold;
      font-family: monospace;
      text-decoration: none; }

ul {
  list-style: none; }
  ul li {
    margin: 5px;
    padding: 5px;
    color: aqua; }
    ul li a {
      color: blueviolet;
      font-weight: bold; }

h1 {
  font: normal 24px "open sans", sans-serif; }

/*bloques*/
/*elemento*/
.noticias__nuevo {
  margin: 10px; }

/*modificadores*/
/*bem*/
.btn {
  text-decoration: none;
  color: gray;
  border-radius: 5px;
  display: inline-block; }
